<div class="slider-container grid sm:flex gap-2 mb-5" x-data="Slider">

  <div class="thumbnails overflow-x-auto row-start-2 md:row-start-1 flex sm:flex-col sm:min-w-[70px] sm:max-w-[70px] lg:min-w-[92px] lg:max-w-[92px] rounded-xl snap-mandatory snap-x scroll-smooth gap-2">
    {% for media in product.media %}
      <a href="#{{ forloop.index }}" class="snap-start bg-green_custom rounded-xl inline-block overflow-hidden">
        {{ media | image_url: width: 200 | image_tag: loading: 'lazy', class: 'cursor-pointer object-cover max-w-[70px] lg:max-w-[100px] max-h-[70px] lg:max-h-[100px] block duration-1000 hover:scale-105' }}
      </a>
    {% endfor %}
  </div>

  <div class="w-full p-9 bg-green_custom rounded-xl object-contain">
    <div class="slider-container__for-arrows relative w-full h-full overflow-y-hidden object-contain">
      <div
        class="slider overflow-x-auto object-contain scrolling-wrapper flex items-center snap-mandatory snap-x scroll-smooth"
        x-ref="slider"
        @keydown.right="next"
        @keydown.right="left">
        {% for media in product.media %}
          {% render 'product-media', media: media, class: 'w-full rounded-xl object-cover', id: forloop.index, height: 510 %}
        {% endfor %}

        <button @click="prev" class="text-xl hidden absolute top-1/2 transform -translate-y-1/2 left-0 text-white bg-accent rounded-full h-10 w-10 mx-4 group">
          <span aria-hidden="true" class="group-hover:-translate-x-1 block transition">❮</span>
          <span class="sr-only">Previous slide</span>
        </button>
        <button @click="next" class="text-xl hidden absolute top-1/2 transform -translate-y-1/2 right-0 text-white bg-accent rounded-full h-10 w-10 mx-4 group">
          <span aria-hidden="true" class="group-hover:translate-x-1 block transition">❯</span>
          <span class="sr-only">Next slide</span>
        </button>
      </div>
    </div>
  </div>

</div>