<div class="container ajax-collection pt-24 sm:pt-32 lg:pt-40">
  <div class="grid gap-6 items-center justify-center pb-6 md:pb-10">
    <span class="text-center font-grace text-2xl uppercase">{{ section.settings.upper-span-text }}</span>
    <h1 class="text-center font-scania text-xl sm:text-3xl lg:text-4xl">{{ section.settings.heading-text }}</h1>
    <div class="mx-auto">
      {% render 'icon-small-custom-underline' %}
    </div>
  </div>
  <div class="grid mx-auto py-6 justify-center items-center">
    {% render 'collection-product-grid', grid_class: 'grid-cols-1 md:grid-cols-2 lg:grid-cols-3', image_class: 'md:h-[350px] w-auto h-[200px] object-cover', pagination: 3 %}
  </div>
</div>

{% schema %}
  {
    "name": "Collection Template",
    "settings": [
      {
        "type": "text",
        "id": "upper-span-text",
        "default": "Shops",
        "label": "Collection Upper Span"
      }, {
        "type": "text",
        "id": "heading-text",
        "default": "Our Products",
        "label": "Heading Text"
      }
    ]
  }
{% endschema %}