<div class="container pt-32 pb-16">
  <div class="grid gap-4 pb-16">
    <h1 class="font-scania text-xl sm:text-3xl lg:text-4xl text-center">{{ section.settings.faq_heading }}</h1>
    <div class="flex justify-center items-center">
      {% render 'icon-small-custom-underline' %}
    </div>
  </div>
  <div class="grid gap-2">
    {% for block in section.blocks %}
      <div class="max-w-[900px] py-2 px-4 w-full mx-auto border border-border-lite_gray_text rounded-lg">
        <div class="grid gap-3" x-data="{ showFAQPageItem: false }">
          <div class="flex items-center gap-2 group cursor-pointer" @click="showFAQPageItem = !showFAQPageItem">
            <span class="font-helvetica text-sm sm:text-base text-black group-hover:text-custom_green duration-300">-</span>
            <h4 class="font-helvetica text-sm sm:text-base text-black group-hover:text-custom_green duration-300">{{ block.settings.faq_item_heading }}</h4>
          </div>
          <p
            x-cloak
            x-show="showFAQPageItem"
            x-transition
            class="text-sm sm:text-base font-helvetica text-secondary_gray">{{ block.settings.faq_item_text }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "FAQ Page",
    "settings": [
      {
        "type": "text",
        "id": "faq_heading",
        "default": "Frequently Asked Questions",
        "label": "FAQ Heading"
      }
    ],
    "blocks": [
      {
        "name": "FAQ Page Item",
        "type": "faq_page_item",
        "settings": [
          {
            "type": "text",
            "id": "faq_item_heading",
            "default": "How long does it take to process an order?",
            "label": "Faq Item Question"
          }, {
            "type": "text",
            "id": "faq_item_text",
            "default": "Once an order is shipped out, tracking information is automatically sent via email to our customers. Please check your junk / spam inbox if you're unsure, however, if you have not received one within our typical timeframe, feel free to reach out via the form below.",
            "label": "Faq Item Answer"
          }
        ]
      }
    ]
  }
{% endschema %}