<div class="border-b border-custom_green bg-black py-16 text-center">
  <div class="container">
    <div class="grid gap-6">
      <h4 class="text-white font-medium font-helvetica text-2xl">{{ section.settings.text-heading }}</h4>
      <p class="text-white font-helvetica text-sm">{{ section.settings.paragraph }}</p>
      {% form 'customer' %}
        {% if form.errors %}
          <div class="flex flex-row items-center justify-center w-full my-3">
            {% for error in form.errors %}
              <div class="text-red-500">
                {% render 'icon-failed' %}
              </div>
              <p class="text-red-500 text-sm font-bold ml-2">
                {{ form.errors.translated_fields[error] | capitalize }} - {{ form.errors.messages[error] }}
              </p>
            {% endfor %}
          </div>
        {% elsif form.posted_successfully? %}
          <div class="flex flex-row items-center justify-center w-full gap-2 my-5">
            <div class="text-green-500">
              {% render 'icon-success' %}
            </div>
            <p class="text-green-500 font-bold text-center">
              Thank you for Subscription
            </p>
          </div>
        {% endif %}
        <div class="flex align-center justify-center">
          <input
            class="font-helvetica font-bold text-sm custom-bg w-full rounded-l-3xl outline-none text-secondary_gray px-5 py-3 rounded-r-none border-r-0 max-w-[520px]"
            type="email"
            name="contact[email]"
            placeholder="Enter your email..."
            required />
          <div class="flex items-center justify-center max-h-[52px] max-w-[52px] w-full rounded-r-3xl bg-gray-800">
            <button type="submit" class="rounded-full max-h-[40px] max-w-[40px] w-full h-full gradient-bg flex items-center justify-center border-2 border-black">
              {% render 'icon-swiper-arrow-right' %}
            </button>
          </div>
        </div>
      {% endform %}
    </div>
  </div>
</div>

<style>
  .custom-bg {
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }
</style>

{% schema %}
  {
    "name": "Subscribe Newsletter",
    "settings": [
      {
        "type": "text",
        "id": "text-heading",
        "label": "Subscribe Newsletter Text",
        "default": "Join our email club"
      }, {
        "type": "text",
        "id": "paragraph",
        "default": "Receive exclusive Golf Daddy content, offers and discounts",
        "label": "Subscribe Newsletter Paragraph"
      }
    ]
  }
{% endschema %}